aws_region = "us-west-1"

instances = {
  example = {
    instance_type     = "t3.micro"
    availability_zone = "us-west-1a"
    key_name          = "example-key"
    subnet_id         = "public_subnet"
  }
}